/* For phones */

body{
    background-image: linear-gradient(to right,#0B0C10, #1F2833);
    padding: 5px 5px 5px 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.img-logo1{
    display: none;
}

.img-logo{
    height: 50px;
    margin-top: 10px;
}

.img-logo-menu{
    height: 50px;
    margin-top: 0px;
    margin-left:-10px;
}


.name{
    height: 100px;
    color: #c5c6c7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 6px;
    font-size: 6px;

}

.name1{
    display: none;
}

.centered-buttons{
    color:white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.button1{
    color: white;
    margin-top: -80px;
    font-size: 10px;
}

.button2{
    color: white;
    font-size: 10px;
    margin-top: -10px;
}

.button3{
    color: white;
    font-size: 10px;
    margin-top: -10px;
}

.button4{
    color: white;
    font-size: 10px;
    margin-top: -10px;
}

.non-centered-buttons{
    display: none;
}

.img-logo2{
    display: none;
}

.non-centered-buttons-1{
    display: none;
}

#welcomeNote{
    color: #c5c6c7;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #45a29e;
    overflow-x: hidden;
    transition: 1s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 17px;
    color: white;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #000000;
    transform: translateX(10px);
    font-size: 20px;
    transition: 0.7s;
  }

  .sidenav a:active{
    color: #000000;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 5px;
    font-size: 25px;
    margin-left: 40px;
  }

  .sidenav .closebtn:hover {
    transform: translateX(0px);
    font-size: 40px;
  }




  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  #buttonNav{
      font-size: 30px;
  }

  .facebook{
      height: 20px;
      position: fixed;
      margin-left: 363px;
      margin-top: 7px;
  }

  .youtube{
    height: 20px;
    position: fixed;
    margin-left: 363px;
    margin-top: 30px;
}

.insta{
    height: 20px;
    position: fixed;
    margin-left: 363px;
    margin-top: 53px;
}

.socmed{
    display: none;
}

#welcomeNote{
    font-size: 50px;
    margin-top: -80px;
    color: #66fcf1;
    margin-bottom: 65px;
}

#welcomeNote1{
    font-size: 15px;
    margin-top: -50px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

#welcomeNote2{
    font-size: 15px;
    margin-top: 10px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.info {
    border-color: #2196F3;
    color: dodgerblue;
  }
  
  .btn {
    border: 1px solid #66fcf1;
    color: white;
    padding: 7px 7px;
    font-size: 12px;
    cursor: pointer;
    background-color: Transparent;
    background-repeat:no-repeat;
    overflow: hidden;
    outline:none;
  }

  .info:hover {
    background: white;
    color: black;
    transition: .5s;
  }

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 50.25%; 

  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 80%;
    margin-left: 50vw;
    transform: translate(-54.5%);
  }

  #note{
    font-size: 12px;
}


em::before {
    content: "WELCOME!";
    animation: animate infinite;
    font-style: normal;
    animation-delay: 2s;
    animation-duration: 25s;
}

@keyframes animate {

    0% {
        content: "WELCOME!";
    }

    25%{
        content: "KUMUSTA!";
        background: -webkit-linear-gradient(rgb(0, 131, 238), rgb(250, 37, 37));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    60% {
        content: "こんにちは!";
        color: red;
    }

    80% {
        content: "안녕하세요!";
        color: rgb(230, 52, 230);

    }

    100% {
        content: "WELCOME!";
        color: #66fcf1;

    }

}

#myBtn {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 2px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding-bottom: 5px;
    padding-right: 7px;
    border-radius: 4px;
  }

  .imgButton{
    height: 8vw;
}




/* For iPad 768 x 1024 */

@media only screen and (min-width: 768px){

    .img-logo{
        height: 100px;
     }
    
    .button1{
        margin-top: -70px;
        font-size: 14px;
    }
    
    .button2{
        font-size: 14px;
        margin-top: -10px;
    }
    
    .button3{
        font-size: 14px;
        margin-top: -10px;
    }
    
    .button4{
        font-size: 14px;
        margin-top: -10px;
    }

    .centered-buttons{
        display: none;
    }

    .name{
        font-size: 15px;
    }

    .non-centered-buttons{
        color:white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        margin-left: 40px;
        display: block;
    }

    .non-centered-buttons-1{
        display: none;
    }

    #buttonNav{
        font-size: 40px;
    }

    .facebook{
        height: 30px;
        position: fixed;
        margin-left: 703px;
        margin-top: 7px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: white;
        display: block;
        transition: 0.3s;
      }
  
    .youtube{
      height: 30px;
      position: fixed;
      margin-left: 703px;
      margin-top: 42px;
  }
  
  .insta{
      height: 30px;
      position: fixed;
      margin-left: 703px;
      margin-top: 77px;
  }

  .socmed{
      display: none;
  }

  #welcomeNote{
    font-size: 70px;
    margin-top: -80px;
    color: #66fcf1;
    margin-bottom: 70px;
}

#welcomeNote1{
    font-size: 20px;
    margin-top: -70px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}

#welcomeNote2{
    font-size: 20px;
    margin-top: 10px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.info {
    border-color: #2196F3;
    color: dodgerblue;
  }
  
  .btn {
    border: 1px solid #66fcf1;
    color: white;
    padding: 17px 25px;
    font-size: 20px;
    cursor: pointer;
    background-color: Transparent;
    background-repeat:no-repeat;
    overflow: hidden;
    outline:none;
  }

  .info:hover {
    background: white;
    color: black;
    transition: .5s;
  }

  .container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;

  }

  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 60%;
    margin-left: 50vw;
    transform: translate(-52%);
  }

  #note{
    font-size: 14px;
}

#myBtn {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 2px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding-bottom: 10px;
    padding-right: 15px;
    border-radius: 4px;
  }

  .imgButton{
    height: 6vw;
}
}


@media only screen and (min-width: 1000px){

    .img-logo{
       height: 100px;
    }
    
    .button1{
        margin-top: -70px;
        font-size: 14px;
    }
    
    .button2{
        font-size: 14px;
        margin-top: -10px;
    }
    
    .button3{
        font-size: 14px;
        margin-top: -10px;
    }
    
    .button4{
        font-size: 14px;
        margin-top: -10px;
    }

    .centered-buttons{
        display: none;
    }

    .name{
        font-size: 15px;
    }

    .non-centered-buttons{
        display: none;
    }

    .non-centered-buttons-1{
        color:white;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        display: block;
        margin-left: 1100px;

    }

    #buttonNav{
        font-size: 50px;
    }

.socmed{
    display: block;
}
    
    .facebook{
        height: 50px;
        position: absolute;
        margin-left: 87vw;
        margin-top: 15px;
    }
  
    .youtube{
      height: 50px;
      position: absolute;
      margin-left: 90.6vw;
      margin-top: 15px;
  }
  
  .insta{
      height: 50px;
      position: absolute;
      margin-left: 94.2vw;
      margin-top: 15px;
  }

  #welcomeNote{
    font-size: 90px;
    margin-top: -80px;
    color: #66fcf1;
    margin-bottom: 100px;
}

#welcomeNote1{
    font-size: 30px;
    margin-top: -90px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
}

#welcomeNote2{
    font-size: 30px;
    margin-top: 10px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
}

.info {
    border-color: #2196F3;
    color: dodgerblue;
  }
  
  .btn {
    border: 1px solid #66fcf1;
    color: white;
    padding: 17px 25px;
    font-size: 20px;
    cursor: pointer;
    background-color: Transparent;
    background-repeat:no-repeat;
    overflow: hidden;
    outline:none;
  }

  .info:hover {
    background: white;
    color: black;
    transition: .5s;
  }

  .vid1{
    height: 1000px;
}

.container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; 

  }
  
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 40%;
    height: 40%;
    margin-left: 50vw;
    transform: translate(-52%);
  }

  #note{
      font-size: 15px;
  }

  #myBtn {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 2px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    padding-bottom: 10px;
    padding-right: 15px;
    border-radius: 4px;
  }

  .imgButton{
    height: 3vw;
}

}